body{
   color: rgb(86,158,174);
   background-color: rgb(100,190,120);
}
    
    
    
    h1{
        font-size:50px;
        text-align:center;
        color:grey;
        float: 155px;
        padding-top: 56px;

        
        
        }
        
        h3{
            font-size:30px;
            text-align:center;
            color: purple;
            
            }
            
            






body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color:rgb(67,56,89);
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration-style: double;
}

li a.active {
  background-color: #4CAF50;
  color: white;

}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


h2 {
    
    color:rgb(167,189,67);
    text-align:center;
    font-size:40px;
    font-family: fantasy;
    float:left;
    
    }
    
   
        
        div{
        
        margin-left:15px;
        margin-right:15px;
        margin-bottom:15px;
        margin-top:51px;
            }
            
         img{
          
         border-size:56px;
         border-style: groove;
         border-color: blue;
         outline-style: dotted;
         outline-color: grey;
         outline-size:45px;
         float:left ;
         padding: 20px;
         box-sizing: border-box;
         } 
         
         .seven{
          margin-left: 300px;
          min-height: 50px;


         }
        

           
#grad1 {
  width: 200px;
  height:185px;
  background-color: teal;
  position: relative;
  -webkit-animation-name: exampe; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  5%   {background-color:teal; left:30px; top:10px;}
  35%  {background-color:grey; left:20px; top:34px;}
  50%  {background-color:blue; left:50px; top:30px;}
  75%  {background-color:green; left:5px; top:20px;}
  100% {background-color:red; left:7px; top:10px;}
}

/* Standard syntax */
@keyframes example {
  5%   {background-color:teal; left:20px; top:10px;}
  45%  {background-color:yellow; left:20px; top:0px;}
  50%  {background-color:blue; left:20px; top:20px;}
  75%  {background-color:green; left:30px; top:30px;}
  100% {background-color:maroon; left:20px; top:20px;}
}

#grad2 {
  width: 200px;
  height:235px;
  background-color: teal;
  position: relative;
  -webkit-animation-name: examples; /* Safari 2.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 2.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  padding: 156px;


}

/* Safari 2.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:teal; left:30px; top:10px;}
  25%  {background-color:grey; left:20px; top:0px;}
  50%  {background-color:blue; left:50px; top:30px;}
  75%  {background-color:green; left:0px; top:20px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:teal; left:20px; top:10px;}
  35%  {background-color:yellow; left:20px; top:0px;}
  50%  {background-color:blue; left:20px; top:20px;}
  75%  {background-color:green; left:30px; top:30px;}
  100% {background-color:maroon; left:20px; top:20px;}
}

#grad2 {
  width: 300px;
  height:245px;
  background-color: teal;
  position: relative;
  -webkit-animation-name: examples; /* Safari 2.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 2.0 - 8.0 */
  animation-name: example;
  animation-duration: 5s;
}

/* Safari 2.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:teal; left:30px; top:10px;}
  25%  {background-color:grey; left:20px; top:0px;}
  50%  {background-color:blue; left:50px; top:30px;}
  75%  {background-color:green; left:0px; top:20px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:teal; left:20px; top:10px;}
  35%  {background-color:yellow; left:20px; top:0px;}
  50%  {background-color:blue; left:20px; top:20px;}
  75%  {background-color:green; left:30px; top:30px;}
  100% {background-color:maroon; left:20px; top:20px;}
}

#grad3 {
  width: 200px;
  height:185px;
  background-color: teal;
  position: relative;
  -webkit-animation-name: example; /* Safari 2.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 2.0 - 8.0 */
  animation-name: re;
  animation-duration: 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:teal; left:40px; top:15px;}
  25%  {background-color:grey; left:0px; top:30px;}
  50%  {background-color:blue; left:30px; top:40px;}
  75%  {background-color:green; left:20px; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:teal; left:20px; top:10px;}
  35%  {background-color:yellow; left:20px; top:0px;}
  50%  {background-color:blue; left:20px; top:20px;}
  75%  {background-color:green; left:30px; top:30px;}
  100% {background-color:maroon; left:20px; top:20px;}
}





